# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# comps/
solstice/
# config/
GLSL/
lib/
samples/
samples-extra/
sccode/
shaders/
studies/
synths/
templemeltdown/
tidal-midi_demo\ Project/
toplap20/
util/
.code-workspace

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.WAV
*.wav

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/samples
**/synths
**.scd